/* Start Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* End Google Font */

/* Start Body */
body {
    color: #24292e ;
    font-family: Roboto;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/*End Body*/
/*Start Debug*/
.bg-blue {
    background-color: pink;
}
.bg-red {
    background-color: rgb(241, 78, 111);
}
/*End Debug*/

/* Start Debug*/
.container {
    margin: 10px auto;
    overflow: auto;
    width:90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width:100%;
}
/* End Cointainer*/

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink*/
a:link,
a:visited {
    color: #0366D6;
    text-decoration: none;
}
a:hover,
a:active{
    color:#000000;
    text-decoration: underline;

}
/* End Anchor / Hyperlink*/

/* Start Menu Primer */
.menu-primer ul{
    background-color: powderblue;
    border-radius: 4px;
    box-shadow: 
        12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.menu-primer li{
    border-right: 1px solid blue;
    display: inline-block;
    margin: 0 -4px;
}
.menu-primer a {
    color: blue;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu-primer a:hover{
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}
.menu-primer .active{
    background-color: white;
    color: #333333;
    text-decoration: none;

}

/* End Menu-Primer */

/* Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
/* End Heading*/

/*Start Jumbotron*/
    .jumbotron {
        background-color: #f6f8fa;
        border: 1px solid #eaecef;
        border-radius: 4px;
        padding: 20px 0;
    }
    .jumbotron h1 {
        font-size: 32px;
        padding: 0 20px;
    }
    .jumbotron h3 {
        font-size: 20px;
        padding: 0 20px;
    }
/*End Jumbotron*/

/* Start Main */
    .main-home-one{
        Float: left;
        width: 49.5%;
    }
    .main-home-two{
        Float: right;
        width: 49.5%;
    }
    .main-home-one .box-isi,
    .main-home-two .box-isi{
        height: 140px;
    }

    .main-one {
        float: left;
        overflow: auto;
        width: 69%;

    }
/* End Main*/

/*Start side-bar*/
.sidebar-two {
    Float: right;
    overflow: auto;
    width: 30%;

}

/*End side-bar*/

/* Start Box*/
.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    }
.box-heading h4{
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box*/

/*Start Testimonial*/
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;

}
/* End Testimonial*/

/* Start Layanan Table*/
.layanan-table{
    border: 1px solid #d1d5da;
    border-collapse: collapse;
    margin: auto;
    width: 100%;

}
.layanan-table th {
    background-color: #f6f8fa ;
}
.layanan-table td{
    text-align: center;
}
/* End Layanan Table*/

/* Start Form*/
input [text="text"]
input [type="email"]
textarea {
    font-size: 14px;
    padding: 10px;
}
input::placeholder,
textarea::placeholder{
    color: #888888;
    font-weight: 300;
}

input[type="submit"],
.button {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 4px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px; 
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;

}
/* End Form*/

/* Start Contact Form*/
.contact-form div{
    margin: 20px 0;
}
/* End Contact Form*/

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4{
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one{
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
/* End Menu Sekunder*/

/* Start Copyright */
.copyright p{
    font-size: 15px
}
/* End Copyright*/

/*Start Effect*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
.snip1572 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 31%;
  max-width: 31%;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background: #ffffff;
}

.snip1572 *,
.snip1572:before,
.snip1572:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1572 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1572:before,
.snip1572:after {
  content: '';
  background-color: #000;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.snip1572:before {
  width: 300px;
  height: 2px;
}

.snip1572:after {
  height: 300px;
  width: 2px;
}

.snip1572 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
}

.snip1572 h3 {
  font-weight: 400;
  padding: 8px 15px;
  margin: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1572 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1572:hover img,
.snip1572.hover img {
  zoom: 1;
  filter: alpha(opacity=25);
  -webkit-opacity: 0.25;
  opacity: 0.25;
}

.snip1572:hover:before,
.snip1572.hover:before,
.snip1572:hover:after,
.snip1572.hover:after {
  opacity: 1;
}

.snip1572:hover:before,
.snip1572.hover:before {
  width: 50px;
}

.snip1572:hover:after,
.snip1572.hover:after {
  height: 50px;
}

.snip1572:hover h3,
.snip1572.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

/*End Effect*/